/* #root {
    font-size: 50px;
    color: royalblue;
} */

* {
    color: #040c13;
    font-family: 'Roboto', sans-serif;
    /* font-size: 13px; */
    /* margin: 0;
    padding: 0; */
    padding-left: 0;
    margin-left: 0;
}


/***** SNAPSHOT COMPONENT *****/

.snapshot-parent-div {
    /* border-style: solid; */
    overflow: hidden;
    width: 100%;
}

.summary-parent-div {
    float: left;
    height: 233px;
    width: 20%;
}

.bargraph-parent-div {
    float: left;
    padding-top: 30px;
    height: 233px;
    width: 37%;
}

.proconlist-parent-div {
    height: 233px;
    width: 31%;
    float: left;
}

.snapshot-spacer {
    height: 233px;
    float: left;
    width: 5%;
}


/***** SUMMARY COMPONENT *****/

.summary-title {
    font-size: 17px;
    line-height: normal;
    padding-bottom: 10px;
}

.rating-avg-num {
    font-size: 40px;
}

.summary-star-meter {
    background: url("./images/starRatingMeter.png") repeat-x;
    height: 31px;
    width: 140px;
    margin: 0;
    padding-left: 0;
}

.summary-star-meter-filler {
    background: url("./images/starRatingMeter.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 31px;
    /* display: block; */
}

.review-count {
    font-size: 13px;
    margin-top: 5px;
}

.recommend-percent {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.percent-bold {
    font-weight: 700;
}

.see-all-reviews {
    color: #0457c8;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
}

.see-all-reviews:hover {
    text-decoration: underline;
}


/***** BARGRAPH COMPONENT *****/

.rating-bars {
    width: 100%;
}

.single-rating-bar {
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
}

.star-value {
    float: left;
    margin-right: 10px;
}

.checkbox {
    margin-right: 10px;
    float: left;
    cursor: pointer;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: solid #55555a;
    border-width: 1px 1px 2px;
    background-image: linear-gradient(135deg, #fff, #fff 50%, #e0e6ef 0, #e0e6ef);
}

.checkbox:hover {
    background-image: none;
}

.checkbox-filter {
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.checkmark:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    color: #0046be;
    font-size: 18px;
}

.single-star {
    display: inline-block;
    width: 18px;
    height: 16px;
    background-image: url(https://www.bestbuy.com/~assets/bby/_com/user-generated-content/ratings-and-reviews/dist/client/images/581e9fc450762e2d9b6e6326a4c2e787.svg);
    background-position: 0 0;
    vertical-align: bottom;
    margin-left: 10px;
    margin-bottom: 1px;
}

.progress-bar-wrapper {
    float: left;
    background-color: #e0e6ef;
    box-shadow: none;
    margin-top: 3px;
    height: 13px;
    width: 70%;
    border-radius: 6.5px;
    overflow: hidden;
    margin-right: 15px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 11px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    background-color: #0046be;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
}

.star-count-display {
    float: left;
}


/***** PROCONLIST COMPONENT *****/

.proconlist-parent-div {
    overflow: hidden;
}

.compare-list {
    float: left;
    width: 50%;
}

.filter-word-btn {
    /* text-align: left; hover -> #0046be*/
    border-radius: 4px;
    color: #0046be;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
    white-space: nowrap;
    /* padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px; */
    padding: 0 28px;
    background: #fff;
    border: 1px solid #c5cbd5;
    text-align: center;
    text-transform: capitalize;
    transition: all .3s ease-out 0s;
    /* width: 100%; */
}

.filter-word-btn:hover {
    background: #0046be;
    color: #fff;
}


/***** GALLERY COMPONENT *****/


/* .image-thumbnail-btn {
    margin: 1px;
    max-height: 70px;
    max-width: 70px;
    box-sizing: content-box;
    border: 1px solid #55555a;
} */

.gallery-wrapper {
    height: 155px;
}

.image-carousel {
    /* margin: 24px, 0, 24px, 0; */
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    /* position: relative; */
}


/* .carousel-wrapper {

} */

.image-thumbnail {
    cursor: pointer;
    margin: 1px;
    padding: 0;
    height: 70px;
    width: 70px;
    font-family: "object-fit:cover";
    object-fit: cover;
    border: 1px solid #55555a;
}

.image-thumbnail:hover {
    border: 2px solid #0046be;
}


/***** FILTER COMPONENT *****/

.learn-more {
    color: #0457c8;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
}