/* #root {
    font-size: 50px;
    color: royalblue;
} */

* {
    color: #040c13;
    font-family: 'Roboto', sans-serif;
    /* font-size: 13px; */
    /* margin: 0;
    padding: 0; */
    padding-left: 0;
    margin-left: 0;
}


/***** SNAPSHOT COMPONENT *****/

.snapshot-parent-div {
    /* border-style: solid; */
    overflow: hidden;
    width: 100%;
}

.summary-parent-div {
    /* border-style: dashed; */
    float: left;
    height: 233px;
    /* width: 223px; */
    width: 20%;
}

.bargraph-parent-div {
    /* border-color: salmon; */
    /* border-style: double; */
    float: left;
    height: 233px;
    width: 35%;
}

.proconlist-parent-div {
    /* border-style: dashed; */
    height: 233px;
    width: 31%;
    float: left;
}

.snapshot-spacer {
    /* border-style: solid; */
    height: 233px;
    float: left;
    width: 7%;
}


/***** SUMMARY COMPONENT *****/

.summary-title {
    font-size: 17px;
    line-height: normal;
    padding-bottom: 10px;
}

.rating-avg-num {
    font-size: 40px;
}

.summary-star-meter {
    background: url("./images/starRatingMeter.png") repeat-x;
    height: 31px;
    width: 140px;
    margin: 0;
    padding-left: 0;
}

.summary-star-meter-filler {
    background: url("./images/starRatingMeter.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 31px;
    /* display: block; */
}

.review-count {
    font-size: 13px;
    margin-top: 5px;
}

.recommend-percent {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.percent-bold {
    font-weight: 700;
}

.see-all-reviews {
    color: #0457c8;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
}


/***** BARGRAPH COMPONENT *****/

.five-filter-button {
    cursor: pointer;
}

.rate-bar {
    cursor: pointer;
    /* padding-bottom: 30px; */
}


/***** PROCONLIST COMPONENT *****/

.proconlist-parent-div {
    overflow: hidden;
}

.compare-list {
    float: left;
    width: 50%;
}

.filter-btn {
    /* text-align: left; hover -> #0046be*/
    border-radius: 4px;
    color: #0046be;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
    white-space: nowrap;
    /* padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px; */
    padding: 0 28px;
    background: #fff;
    border: 1px solid #c5cbd5;
    text-align: center;
    text-transform: capitalize;
    transition: all .3s ease-out 0s;
    /* width: 100%; */
}

.filter-btn:hover {
    background: #0046be;
    color: #fff;
}